%main.form-confirmation.w-100.m-auto.bg-white.rounded-3.shadow-lg.p-4.d-flex.flex-wrap.justify-center
  = image_tag 'logo-login.png', class: 'mb-2', height: '100%', width: '100%'

  %div.w-100
    %h1.h3.mb-3.fw-normal= t('.resend_confirmation_instructions')

    = form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f|
      = render "devise/shared/error_messages", resource: resource

      .form-floating
        = f.email_field :email,
          class: 'form-control',
          placeholder: 'nombre@ejemplo.com',
          required: true,
          autocomplete: 'email',
          value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email)
        = f.label :email

      .actions.mt-3
        = f.submit t('.resend_confirmation'), class: 'btn btn-primary w-100 py-2'

    .mt-3= render 'devise/shared/links'
